parameters:
    level: 6
    symfony:
        container_xml_path: %rootDir%/../../../var/cache/dev/srcDevDebugProjectContainer.xml
    autoload_files:
        - bin/.phpunit/phpunit-7.5.6/vendor/autoload.php
    ignoreErrors:
        - message: '#^Service "[^"]+" is private.$#'
          path: %rootDir%/../../../tests/

includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
